<div class="row">
	<div class="span6">
		<div class="alert alert-info">
			<h3><%= title %></h3>
			<p>welcome on Skelet. To get started:</p>
			<ol>
				<li>add your own models/collections/views in <code>/scripts/application/modules</code></li>
				<li>create a folder in <code>/scripts/application/templates/{model_name}/{whatever}.html</code>
			</ol>
		</div>
	</div>
	<div class="span6">
		<div class="well">
			<h3>Check the example</h3>
			<p><a href="#/friend" class="btn">Friend list</a></p>
		</div>
	</div>
</div>