<div class="row">
	<div class="span12">
		<h1><%= title %></h1>
		
		<div class="alert alert-info">
			<p>Skelet is an attempt to structure a JS app based on Backbone.</p>
			
			<p>
				<a href="https://github.com/ghn/skelet/zipball/master" class="btn btn-large btn-primary" type="button">
					<i class="icon-arrow-down icon-white"></i> Download latest version
				</a>
			</p>
		</div>
		
		<div class="row">
			<div class="span12">
				<h3>Get started</h3>
				
				<p><code>git clone https://github.com/ghn/skelet.git</code></p>
				<p>Then point your apache conf at the root directory, enjoy.</p>
				
			</div>
		</div>
		
		<div class="row">
			<div class="span6">
				<h3>Features</h3>
				<ul>
					<li>MVC</li>
					<li>AMD loader</li>
					<li>Internationalization</li>
					<li>Unit tests</li>
					<li>Responsive design</li>
				</ul>
			</div>
			
			<div class="span6">
				<h3>Components</h3>
				<ul>
					<li><a href="http://backbonejs.org">Backbone JS</a></li>
					<li><a href="http://twitter.github.com/bootstrap">Twitter bootstrap</a></li>
					<li><a href="http://requirejs.org">Require.js</a></li>
					<li><a href="http://pivotal.github.com/jasmine">Jasmine</a></li>
			</div>
		</div>
	</div>
</div>